{% extends "layout.html" %}
{% block content %}
<div class="card" style="width: 500px;background-color: whitesmoke">
    <div class="content-section" style="width: 400px;">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group" style="color:blue;">
                <legend class="border-bottom mb-4" style="margin-left: 15px;">Log In</legend>
                <div class="form-group" style="margin-left: 15px;">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback" style="margin-left: 15px;">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" style="margin-left: 15px;">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback" style="margin-left: 15px;">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check" style="margin-left: 15px;">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group" style="margin-left: 15px;">
                {{ form.submit(class="btn btn-info") }}
                <small class="text-muted ml-2">
                    <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
                </small>
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up Now</a>
        </small>
    </div>
</div>
{% endblock content %}
